---
import I18nKey from "../i18n/i18nKey";
import { i18n } from "../i18n/translation";
import "../styles/encrypted-content.css";

export interface Props {
	encryptedContent: string;
}

const { encryptedContent } = Astro.props;

const protectionConfig = JSON.stringify({
	encryptedContent,
	messages: {
		unlocking: i18n(I18nKey.passwordUnlocking),
		incorrect: i18n(I18nKey.passwordIncorrect),
		decryptError: i18n(I18nKey.passwordDecryptError),
		unlock: i18n(I18nKey.passwordUnlock),
		passwordRequired: i18n(I18nKey.passwordRequired),
		decryptionError: i18n(I18nKey.decryptionError),
		decryptRetry: i18n(I18nKey.passwordDecryptRetry),
	},
});
---

<div id="password-protection" class="password-protection">
	<div class="password-container">
		<div class="lock-icon">
			<svg
				width="48"
				height="48"
				viewBox="0 0 24 24"
				fill="none"
				xmlns="http://www.w3.org/2000/svg"
				class="w-12 h-12"
			>
				<path
					d="M18 8h-1V6c0-2.76-2.24-5-5-5S7 3.24 7 6v2H6c-1.1 0-2 .9-2 2v10c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V10c0-1.1-.9-2-2-2zM9 6c0-1.66 1.34-3 3-3s3 1.34 3 3v2H9V6z"
					fill="currentColor"></path>
			</svg>
		</div>
		<h2>{i18n(I18nKey.passwordProtectedTitle)}</h2>
		<p>{i18n(I18nKey.passwordProtectedDescription)}</p>
		<div class="password-input-group">
			<input
				type="password"
				id="password-input"
				placeholder={i18n(I18nKey.passwordPlaceholder)}
				class="password-input"
			/>
			<button id="unlock-btn" class="unlock-button"
				>{i18n(I18nKey.passwordUnlock)}</button
			>
		</div>
		<div id="error-message" class="error-message" style="display: none;">
			{i18n(I18nKey.passwordIncorrect)}
		</div>
	</div>
</div>

<div
	id="decrypted-content"
	class="decrypted-content w-full"
	style="display: none;"
>
</div>

<script
	id="password-protection-config"
	type="application/json"
	set:html={protectionConfig}
></script>

<script>
	import {
		initEncryptedCopyHandler,
		initPasswordProtection,
	} from "../utils/encryption";

	function bootPasswordProtection() {
		const configEl = document.getElementById("password-protection-config");
		if (!configEl?.textContent) return;

		const { encryptedContent, messages } = JSON.parse(configEl.textContent);
		initPasswordProtection({ encryptedContent, messages });
		initEncryptedCopyHandler();
	}

	if (document.readyState === "loading") {
		document.addEventListener("DOMContentLoaded", bootPasswordProtection);
	} else {
		bootPasswordProtection();
	}
</script>
